/*Estilizar cabeçalho*/
body{
    background-color: #ADD8E6;
}
header{
    background-color: #7BA6C8;
    padding: 20px;
    margin: -8px;
    box-sizing: border-box;
    border: 5px solid black;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
BlocoSelecao{
    /*Centralizar Botão*/
    position: relative;
    /*margin-top: 25px;*/
    left: 200px;
    /*-----------------*/
    /*background-color: brown;*/
    background-color: white;
    padding: 50px 75px;
    color: white;
    border: 5px solid #2A9D8F;
    font-size: 2em;
    font: Georgia;
    cursor: pointer; /*Transforma o cursor em uma mãosinha ao estar em cima do retêngulo*/
    transition: background-color 0.3s, transform 0.3s;
    text-align: center;
}
BlocoSelecao:hover{
    background-color: #2A9D8F; /* Muda a cor de fundo ao passar o mouse */ 
    transform: scale(1.05);
}
BlocoSelecao2{
   /*Centralizar Botão*/
   position: relative;
   margin: 0px;
   margin-top: 100px;
   margin-left: -50px;
   /*-----------------*/
   background-color: brown;
   padding: 100px 150px;
   color: white;
   border: 5px solid #2A9D8F;
   font-size: 2em;
   font: Georgia;
   cursor: pointer; /*Transforma o cursor em uma mãosinha ao estar em cima do retêngulo*/
   transition: background-color 0.3s, transform 0.3s;
   text-align: center; 
}
.Titulo{
    align-content: center;
    position: relative; /*Absoluto com relação à classe pai main*/
    /*Determinando as margens*/
    margin-left: 230px;
    margin-bottom: 0px;
    /*Determinando o tamanho do bloco*/
    padding-inline: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    /*-------------------------------*/
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    background-color: #7BA6C8;
    border: 10px solid black;
}











